@import url("common.css");
/* ======= 6 завдання============= */
/* Виправити помилку у фрагменті
* {
  margin: 0;
  padding: 0;
}

/* more styles */
/* @import url("my-imported-styles.css"); 
*/
/* Відповідь: всі правила @ повинні бути з самого верху.
Тобто порядок коду має бути такий
 @import url("my-imported-styles.css");
 * {
  margin: 0;
  padding: 0;
}
/* more styles */
/* ===================================== */
/* ========= 7, 8 завдання=============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
}

body {
  font-size: 140%;
}

h1 {
  font-size: 240%;
}

body {
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
}

footer {
  color: var(--footer-text-color);
  background: var(--fuuter-bg-color);
  margin-top: 10px;
}
