* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 100%;
}

body {
  font-size: 140%;
}

h1 {
  font-size: 240%;
}
/* ==== 2 завдвння================= */
h1,
h2,
h3 {
  color: grey;
}

#main {
  color: #e60202;
}

h2 {
  color: red;
}

.heading {
  color: green;
}
/* ======== 3 завдання================ */
ul > li {
  font-weight: bold;
}

section > p {
  color: red;
}
/* - змінити розмір шрифту всіх елементів p всередині елемента section, незалежно від їхнього рівня вкладеності. */
section p {
  font-size: 40px;
}

/* ====== 4 завдання================== */
/* - змінити колір тексту на indigo першого елемента h2, а не всіх елементів h2. */
h2:first-of-type {
  color: indigo;
}
/* - застосувати до всіх посилань, нащадкам p.first властивість color: green 
- стилізувати посилання з властивістю color: green, що розташовані всередині будь-якого тегу з класом .first,
 що є нащадком елементу p */
p.first a {
  color: green;
}
.first a {
  color: green;
}
/* створити стиль color: salmon для всіх елементів p, що стоять після елемента div. */
div ~ p {
  color: salmon;
}
/* ====== 5 завдання================== */
/* Маємо іменовані кольори black, blue, green, red, white, yellow

1. визначати ці кольори за допомогою шістнадцяткового коду: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F. 
Відповідь: black #000000, blue #0000FF, green #00FF00, red #FF0000, white #FFFFFF, yellow #FFFF00.

2. визначати ці кольори у десятковій системі числення за допомогою функції RGB. 
Відповідь: black(0, 0, 0), blue (0, 0, 255), green (0, 128, 0), red (255, 0, 0), white (255, 255, 255), yellow (255, 255, 0)
3. визначати ці кольори, використовуючи відсотки.
Відповідь: black (0,0%,50%), blue (240,100%,50%), green (120,100%,25%), red (0,100%,50%), white (0,0%,100%), yellow (60,100%,50%)
4. визначати ці кольори використовуючи альфа-канал, що задає прозорість.
Відповідь: black(0, 0, 0, 0.5), blue (0, 0, 255, 0.75), green (0, 128, 0, 0.25), red (255, 0, 0, 1), white (255, 255, 255, 0.3), yellow (255, 255, 0, 0/8) */

/* ====== 6 завдання================== */
/* - Використовцючи hsl, створіть для класу translucent-box напівпрозору властивість background з такими значеннями:
    - Hue = 0deg
    - Saturate =  100%
    - Lightness =  50% */

.translucent-box {
  background-color: hsl(0deg, 100%, 50%);
}

/* ====== 7 завдання================== */
/* базовий розмір шрифта для кореневого елемента = 100%
1. визначити розмір шрифта для body, що успадковує розмір шрифта кореневого елемента, збільшений на 40 відсотків
2. визначити розмір шрифта для h1, що успадковує розмір шрифта кореневого елемента, збільшений на 140 відсотків 
Відповідь: 1. Оскільки базовий розмір шрифту 16px, то 140% буде 22.4px.
2. Розмір шрифта для елемента h1 буде 53.76px. */
